.idea/
venv/
BootstrapperCore.dll                     
BootstrapperCore.xml                     
Microsoft.Deployment.WindowsInstaller.dll
Microsoft.Deployment.WindowsInstaller.xml
WixSharp.Msi.dll                         
WixSharp.Msi.xml                         
WixSharp.UI.dll                          
WixSharp.UI.xml                          
WixSharp.dll                             
WixSharp.xml                             
__pycache__/                             
build/                                   
dist/                                    
nbsbuilder.exe                           
sendToSkynet.spec                        
SendToSkynet.msi
Upload2Cloud*.msi
Upload2Cloud.spec